In [11]:
# Pandas Exercises

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
pd.Series([1, 2, 'five'])

0       1
1       2
2    five
dtype: object

In [4]:
print_test = pd.Series([1, 2, 'five'])
print(print_test)

0       1
1       2
2    five
dtype: object

### Vectorized Operations

In [7]:
seriesone = pd.Series([2, 3, 5, 8])
seriesone

0    2
1    3
2    5
3    8
dtype: int64

In [8]:
seriesone.head()

0    2
1    3
2    5
3    8
dtype: int64

In [9]:
seriesone.tail()

0    2
1    3
2    5
3    8
dtype: int64

In [10]:
# Exercices

In [14]:
# Name the variable that holds the series fruits.

fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [16]:
# Run .describe() on the series to see what describe returns for a series of strings.

fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [26]:
# Run the code necessary to produce only the unique fruit names.

fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [70]:
# Determine how many times each value occurs in the series.
num_fruit = fruits.value_counts()
num_fruit

kiwi                4
mango               2
watermelon          1
honeydew            1
blueberry           1
papaya              1
tomato              1
gala apple          1
pineapple           1
strawberry          1
blackberry          1
honeycrisp apple    1
gooseberry          1
dtype: int64

In [71]:
# Determine the most frequently occurring fruit name from the series.

# I need to know what data type I'm working with to tailor what I'm writing in my code:

type(num_fruit)

# Ok, so I have a Series, meaning I need to figure out how to grab the "name" from the list instead of just the max number...

pandas.core.series.Series

In [72]:
# Courtesy Faith's notebook, as pointed out by Ryvyn: nsmallest and nlargest. Nice.
# Ok, now that I have a pandas Series, I can use nlargest now!
num_fruit.nlargest(1, keep='all')

# I'm actually not sure I had to go through all that, as according to the nlargest pandas' documentation, it works on dataframes as well... I'll try it a different way for the next question.

kiwi    4
dtype: int64

In [79]:
# Determine the least frequently occurring fruit name from the series.

num_fruit.nsmallest(5, keep='first')

watermelon    1
honeydew      1
blueberry     1
papaya        1
tomato        1
dtype: int64

In [80]:
# Alternatively, I could skip using the variable I created with:

fruits.value_counts().nsmallest(1, keep='all')

# This is probably more 'pythonic'.

watermelon          1
honeydew            1
blueberry           1
papaya              1
tomato              1
gala apple          1
pineapple           1
strawberry          1
blackberry          1
honeycrisp apple    1
gooseberry          1
dtype: int64

In [170]:
# Write the code to get the longest string from the fruits series.

fruits[fruits.str.len().argmax()]

'honeycrisp apple'

In [179]:
# Find the fruit(s) with 5 or more letters in the name.

fruits[fruits.str.len() > 4]

# Yeah I spent waaaaaay too much time on this. Was way over-thinking what I needed to do. But I figured it out on my own.

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [181]:
# Capitalize all the fruit strings in the series.
# Trick on this one is to capitalize all new words - python doesn't see space " " as a new string... Need to figure this one out.

fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [186]:
# Count the letter "a" in all the fruits (use string vectorization)

fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [213]:
# Output the number of vowels in each and every fruit.

fruits.str.count('[aeiou]')

# So don't fully understand this, but it seems to work. 
# Where I got this:
# https://stackoverflow.com/questions/49234374/how-to-count-vowels-and-consonants-in-pandas-dataframe-both-uppercase-and-lower

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [218]:
# I want to come back and figure out how the function would work using .apply()

def count_vowels(c):
    vowels = ['aeiou']
    if c in vowels:
        return True
    else:
        return False

In [252]:
fruits.any()

'kiwi'

In [248]:
fruits.apply(count_vowels(fruits))

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [241]:
# Use the .apply method and a lambda function to find the fruit(s) containing two or more "o" letters 
# in the name.

fruits.apply(lambda n: n if n.count('o') > 1 else False)

0          False
1          False
2          False
3          False
4          False
5          False
6         tomato
7          False
8          False
9          False
10         False
11         False
12         False
13         False
14         False
15    gooseberry
16         False
dtype: object

In [245]:
# Write the code to get only the fruits containing "berry" in the name
# Reference for this solution:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html

fruits[fruits.str.contains('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [247]:
# Write the code to get only the fruits containing "apple" in the name
# Note the key word in plain English: "containing". Taking that hint to look for a function that does what the question is asking me to do.

fruits[fruits.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [257]:
# Which fruit has the highest amount of vowels?

fruits[fruits.str.count('[aeiou]').argmax()]

'honeycrisp apple'

### Use pandas to create a Series from the following data:

- ['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']

In [258]:
data_series = pd.Series(['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23'])

In [259]:
print(data_series)

0       $796,459.41
1           $278.60
2       $482,571.67
3     $4,503,915.98
4      $2,121,418.3
5      $1,260,813.3
6        $87,231.01
7     $1,509,175.45
8     $4,138,548.00
9     $2,848,913.80
10      $594,715.39
11    $4,789,988.17
12     $4,513,644.5
13    $3,191,059.97
14    $1,758,712.24
15    $4,338,283.54
16    $4,738,303.38
17    $2,791,759.67
18      $769,681.94
19      $452,650.23
dtype: object

In [260]:
# What is the data type of the series?

type(data_series)

pandas.core.series.Series

In [261]:
# Use series operations to convert the series to a numeric data type.

In [223]:
print(fruits)

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [175]:
len(fruits[1]) > 4

True

In [36]:
# Defining my max count function.

def high_count(n):
    max_count_list = n.value_counts().max()
    if n.value_counts() == max_count_list:
        return n
    
# This doesn't seem to be working - I'm looking up online if there is a function for this problem. Have a feeling there is.

In [65]:
# There is a function to use for this situation. 
# Courtesy Faith's notebook, as pointed out by Ryvyn: nsmallest and nlargest. Nice.
fruits[fruits.value_counts().max()]
fruits.value_counts().max()

4